<!--
// Author's Name : Pui In Kwok
// Student Number : 200203793
// Data Modified : 17 Aug, 2016
// Short Version History : 0.0.0.1
// File Description : This view will get display all the albums in the genre that user choose
-->


@using COMP2007_FinalExam.Models
@model Genres

@{
    ViewBag.Title = "Browse";
}

<h2>Genre: @Model.Name</h2>

<ul>
    @foreach(Albums albums in Model.Albums)
    {
        <li>
            @Html.ActionLink(albums.Title, "Details", new { id = albums.AlbumId})
        </li>
    }
</ul>
<br />
<p>
    @Html.ActionLink("Back To Genre List", "Index")
</p>

