<!--
// Author's Name : Pui In Kwok
// Student Number : 200203793
// Data Modified : 17 Aug, 2016
// Short Version History : 0.0.0.1
// File Description : This is the view for contact page
-->

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ABC St.<br />
    Barrie, ON L4M 123<br />
    <abbr title="Phone">P:</abbr>
    705-123-4567
</address>
