<!--
// Author's Name : Pui In Kwok
// Student Number : 200203793
// Data Modified : 17 Aug, 2016
// Short Version History : 0.0.0.1
// File Description : This is the view for home page
-->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Final Exam!</h1>
    <p>WOW </p>
</div>
